 h1 {
    font-size: 45px;
    font-style: oblique;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0c0c0c;
    text-shadow: 4ch 0px 8px rgba(190, 188, 188, 0.767);
  }
  
  button {
    background-color: #fcbf3c;
    color: #41330d;
    border: 20x;
    padding: 10px 20px;
    font-size: 18px;
    font-style: oblique;
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(245, 242, 242, 0.2);
    position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%)
  }
  
  button:hover {
    background-color: #a08045;
  }
  
  button:active {
    box-shadow: none;
  }
  