
.li{
    display: flex;
    padding: 5px 2px;

}
.buttonpage{
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    background-color:rgb(241, 191, 130);
    border-radius: 15px;
    margin: 11px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    text-transform: uppercase;
    color: black;


}

.buttonpage:hover{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(red, green, blue, alpha);
    margin: 11px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    color: rgb(247, 167, 47);
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    text-transform: lowercase;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}